/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/bootstrap.min.css
public/css/font.google.api.css
public/js/jquery-3.5.1.min.js
public/js/bootstrap.min.js
